<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Réinitialisation du Mot de passe</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="E-Mail" formControlName="email" type="email">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block" type="submit">Envoyer </button>
    </form>
  </mat-card>

</div>
